@media screen and (max-width: 1400px) and (min-width:1200px) {
  
  body {
    overflow-x: hidden;
  }

  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }

  .logo {
    font-size: 2rem;
    display: inline-block;
  }
  
  .logo-img {
    position: absolute;
    height: 75px;
    width: 75px;
    top: 65px;
    left: 100px;
  }
}

@media screen and (max-width: 1200px) and (min-width:600px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  
  .logo {
    font-size: 2rem;
    display: inline-block;
  }
  
  .logo-img {
    position: absolute;
    height: 75px;
    width: 75px;
    top: 70px;
    left: 160px;
  }

  a:hover {
    color: grey;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile {
    height: fit-content;
  }

  #profile .section,
  .section-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: fit-content;
  }
  .arrow {
    display: none;
  }
  .section,
  .section-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  section {
    height: 90vh;
  }
  .section__pic-container img{
    display: flex;
    height: 400px;
    width: 400px;
  }
  .about-containers {
    margin-top: 0;
  }

  .details-container{
    margin-top:150px;
  }


  #projects .section{
    height: 100vh;
    margin: 100px;
  }

  #projects .details-container{
    width: 25%;
    height: fit-content;
  }

  #contact {
    height: fit-content;
  }

}

@media screen and (max-width: 600px) {

  
  .logo {
    font-size: 2rem;
    display: inline-block;
  }
  
  .logo-img {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 80px;
    left: 55px;
  }



  section {
    height: 100vh;
  }

  .section {
    display: flex;
  }

  #profile .section,
  .section-container {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
    height: 83vh;
    margin: 0;
  }

  section .section {
    margin: 0 10px;
  }

  article {
    font-size: 1rem;
  }
  /* footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  } */
  .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: row;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    margin: 0;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }


  #projects {
    height: 185vh;
  }

  #projects .section {
    margin: 10px;
  }

  #projects .details-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 300px;
    margin: 10px;
  }

  .media {
    height: 465px;
    width: 465px;
  }

  #contact {
    margin-top: 50px;
  }

}
